@use "./menu.scss";
@use "./responsive.scss";

body {
  font-size: 16px;
  * {
    font-family: "Open Sans", sans-serif !important;
    box-sizing: border-box;
  }
}

h1 {
  font-weight: bold;
  font-size: 18px;
}

p {
  padding: 12px 0;
}
