body {
  * {
    font-family: "Open Sans", sans-serif !important;
    box-sizing: border-box;
  }
}

.header-menu {
  li {
    a {
      color: black;
      text-decoration: none;
      font-weight: 600;
    }
  }
}
