@use "./responsive.scss";

.header-menu {
  li {
    padding: 4px;
    a {
      color: black;
      text-decoration: none;
      font-weight: 600;
      padding: 4px 8px;
      border-radius: 12px;
      transition: all 0.2s ease-in-out;
      font-size: 0.8rem;

      &.active,
      &:hover {
        background: #000;
        color: #fff;
      }
    }
  }

  &.mobile {
    flex-direction: column;
    padding: 20px;
    width: 100%;
  }
}

.logo {
  img {
    width: 100%;
    vertical-align: middle;
    max-width: 120px;

    @include responsive.mobile {
      max-width: 160px;
    }
  }
}
